<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="wap/layout">
<div th:fragment="content">
    <div class="path">
        <img src="/img/location.png">
        当前位置：<a>首页</a>&nbsp;>&nbsp;<a>嘻嘻哈哈</a>&nbsp;>&nbsp;嘻嘻哈哈
    </div>
    <ul id="gallery" class="galleryView">
        <li th:each="image:${image}"><img th:src="${ossUrl+image.path}"/></li>
    </ul>
    <script>
        $(function () {
            $('#gallery').galleryView({
                panel_scale: 'fit',
                frame_scale: 'fit',
            });
        });
    </script>
</div>
</html>