<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="home/layout">
<div th:fragment="content">
    <div class="head">
        <img src="https://www4c1.53kf.com/img/upload/10136996/mobile/temp/mobile_53kf_1556088819.jpg"/>
        <div class="head-title">汤姆客</div>
        <div class="head-subtitle">业内首创 加盟保目标模式 400-681-9993</div>
    </div>
    <div class="form">
        <div class="form-item">
            <label>姓名</label>
            <input type="text">
        </div>
        <div class="form-item">
            <label>电话</label>
            <input type="text">
        </div>
        <div class="form-item">
            <label>电子邮箱</label>
            <input type="text">
        </div>
        <div class="form-item">
            <label>意向城市</label>
            <input type="text">
        </div>
        <div class="form-item">
            <label>关心问题</label>
            <textarea rows="3"></textarea>
        </div>
        <div class="form-item">
            <button>提交</button>
        </div>
    </div>
    <div class="info">
        <div class="info-title">关于我们</div>
        <div class="info-content">
            传承世界名校AINT跨学科教育理念，
            率先在国内创立“跨学科英语”教育品类，
            与世界顶级学习研究机构美国圣智学习集团（CENGAGE Learning）联合研发，
            获得美国国家地理(National Geographic)倾力授权，
            营造主题场景式“美国多学科共享英语课堂”，
            让孩子在学习纯正美语的同时，
            涉猎音乐、艺术、数学、科学、历史、地理、生物等多学科知识，
            通过线下布景课堂+线上多元APP互动学习模式，
            360°提升孩子学习效果和考试能力。
            汤姆客跨学科英语学习模式，
            能够快速提升英语的听说读写实用能力，
            能够培育孩子全方位思维能力，
            还能培养具有国际化视野未来领袖，
            已然成为全球精英家庭孩子英语学习的首选。
        </div>
    </div>
</div>
</html>