<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>少儿英语培训加盟-一站式少儿教育英语加盟项目-汤姆客少儿英语</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/home.css"/>
    <script type="text/javascript" src="/plugin/jquery/jquery.min.js"></script>
</head>
<body>
<div th:replace="::content"></div>
</body>
</html>